{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>

	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>enhance.ai</title>

	<link rel="stylesheet" href="{% static 'signup/fonts/material-icon/css/material-design-iconic-font.min.css' %}">
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="{% static 'signup/images/icons/favicon.ico' %}"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'signup/vendor/bootstrap/css/bootstrap.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'signup/fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'signup/fonts/iconic/css/material-design-iconic-font.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'signup/vendor/animate/animate.css' %}">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="{% static 'signup/vendor/css-hamburgers/hamburgers.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'signup/vendor/animsition/css/animsition.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'signup/vendor/select2/select2.min.css' %}">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="{% static 'signup/vendor/daterangepicker/daterangepicker.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'signup/css/util.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'signup/css/main.css' %}">
<!--===============================================================================================-->
</head>
<body>
        {% block content %}{% endblock %}



    <!--===============================================================================================-->
	<script src="{% static 'signup/vendor/jquery/jquery-3.2.1.min.js' %}"></script>
    <!--===============================================================================================-->
        <script src="{% static 'signup/vendor/animsition/js/animsition.min.js' %}"></script>
    <!--===============================================================================================-->
        <script src="{% static 'signup/vendor/bootstrap/js/popper.js' %}"></script>
        <script src="{% static 'signup/vendor/bootstrap/js/bootstrap.min.js' %}"></script>
    <!--===============================================================================================-->
        <script src="{% static 'signup/vendor/select2/select2.min.js' %}"></script>
    <!--===============================================================================================-->
        <script src="{% static 'signup/vendor/daterangepicker/moment.min.js' %}"></script>
        <script src="{% static 'signup/vendor/daterangepicker/daterangepicker.js' %}"></script>
    <!--===============================================================================================-->
        <script src="{% static 'signup/vendor/countdowntime/countdowntime.js' %}"></script>
    <!--===============================================================================================-->
        <script src="{% static 'signup/js/main.js' %}"></script>
</body>
</html>