{% extends 'base.html' %}

{% block content %}
  <ul>
    <li>
      <a href="{% url 'simple_upload' %}">Simple Upload</a>
    </li>
    <li>
      <a href="{% url 'model_form_upload' %}">Model Form Upload</a>
    </li>
  </ul>

  <p>Uploaded files:</p>
  <ul>
    {% for obj in documents %}
      <li>
        <a href="{{ obj.document.url }}">{{ obj.document.name }}</a>
        <small>(Uploaded at: {{ obj.uploaded_at }})</small>
        <br>
        <small>(profile_user_id: {{ request.user.id }})</small>
        <br>
        <small>(image_user_id: {{ obj.user_id }})</small>
        <br>
        <img src="{{ obj.document.url }}" alt="img from db">
        <p>User: {{ request.user.username }}</p>
      </li>
    {% endfor %}
  </ul>
{% endblock %}